<include file="./Public/template/header.html" />
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">社区店基础信息管理</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12" id="storeList">
            <div class="panel panel-default">
               <div class="panel-heading clearfix">
                    <h5 class="pull-left">社区店基础信息列表</h5>
                    <div class="pull-right">
                        <button class="btn btn-success" onclick="fnAddBaseStore();">新增</button>
                        <button class="btn btn-primary" onclick="fnSaveBaseStore();">编辑</button>
                        <button class="btn btn-danger" onclick="fnDeleteBaseStore();">删除</button>
                    </div>
               </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dt">
                            <thead>
                                <tr>
                                    <th>社区店地址</th>
                                    <th>logo</th>
                                    <th>微校长</th>
                                    <th>早育师</th>
                                    <th>联系电话</th>
                                </tr>
                            </thead>
                            <tbody id="tb">
                                <tr>
                                    <td>浑南区万科金域蓝湾店1</td>
                                    <td>图片</td>
                                    <td>张三</td>
                                    <td>李四</td>
                                    <td>024-2234888867</td>
                                </tr>
                                <tr>
                                    <td>浑南区万科金域蓝湾店2</td>
                                    <td>图片</td>
                                    <td>张三</td>
                                    <td>李四</td>
                                    <td>024-22345567</td>
                                </tr>
                                <tr>
                                    <td>浑南区万科金域蓝湾店3</td>
                                    <td>图片</td>
                                    <td>张三</td>
                                    <td>李四</td>
                                    <td>024-22345567</td>
                                </tr>
                                <tr>
                                    <td>浑南区万科金域蓝湾店4</td>
                                    <td>图片</td>
                                    <td>张三</td>
                                    <td>李四</td>
                                    <td>024-22345567</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="modal fade" id="addBaseStore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:60%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >新增社区店基本信息</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="addDateForm">
                                <div class="form-group">
                                    <div>
                                        <label>社区店地址</label>
                                        <input class="form-control" id="addAddress_date" name="addAddress_date" type="text" />
                                    </div>
                                    <div>
                                        <label>logo</label>
                                        <input class="form-control" id="addLogo_date" name="addLogo_date" type="text" />
                                    </div>
                                    <div>
                                        <label>微校长</label>
                                        <input class="form-control" id="addPrincipal_date" name="addPrincipal_date" type="text" />
                                    </div>
                                    <div>
                                        <label>早育师</label>
                                        <input class="form-control" id="addTeacher_date" name="addTeacher_date" type="text" />
                                    </div>
                                    <div>
                                        <label>联系电话</label>
                                        <input class="form-control" id="addCall_date" name="addCall_date" type="text" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">新增</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="modal fade" id="saveBaseStore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:60%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">修改食材种类</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="saveDateForm">
                                <div class="form-group">
                                   <div>
                                        <label>社区店地址</label>
                                        <input class="form-control" id="saveAddress_date" name="saveAddress_date" type="text" />
                                    </div>
                                    <div>
                                        <label>logo</label>
                                        <input class="form-control" id="saveLogo_date" name="saveLogo_date" type="text" />
                                    </div>
                                    <div>
                                        <label>微校长</label>
                                        <input class="form-control" id="savePrincipal_date" name="savePrincipal_date" type="text" />
                                    </div>
                                    <div>
                                        <label>早育师</label>
                                        <input class="form-control" id="saveTeacher_date" name="saveTeacher_date" type="text" />
                                    </div>
                                    <div>
                                        <label>联系电话</label>
                                        <input class="form-control" id="saveCall_date" name="saveCall_date" type="text" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">修改</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<!-- /#page-wrapper -->
<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
$(document).ready(function() {
    // 初始化DataTable
    $('#dt').DataTable();
    $('#dt2').DataTable();
    addSelectedClass();
    verificationSaveStore();
    verificationAddStore();
});
 function fnDeleteBaseStore() {
    if($("tr").hasClass("selected")){
       if (confirm("确认删除？")) {  
            $(".selected").remove();
        }
    }
    else{
        alert("请选择要删除的社区店！");
    }
 }
 function fnAddBaseStore() {
    $("#addBaseStore").modal("show");
    $("#addBaseStore input").val("");
   
}
function fnSaveBaseStore() {
    if($("tr").hasClass("selected")){
        $("#saveBaseStore").modal("show");
        for(var i=0;i<5;i++){
        $("#saveBaseStore input").eq(i).val($(".selected").children("td").eq(i).html());
        }
    }else alert("请选择需编辑社区店信息!");
    
}
function verificationSaveStore() {
    $("#saveDateForm").bootstrapValidator({
        fields: {
            saveAddress_date: {
                validators: {
                    notEmpty: {
                        message: "地址不能为空！"
                    }
                }
            },
            saveLogo_date: {
                validators: {
                    notEmpty: {
                        message: "logo不能为空！"
                    }
                }
            },
            savePrincipal_date: {
                validators: {
                    notEmpty: {
                        message: "微校长不能为空！"
                    }
                }
            },
            saveTeacher_date: {
                validators: {
                    notEmpty: {
                        message: "早育师不能为空！"
                    }
                }
            },
            saveCall_date: {
                validators: {
                    notEmpty: {
                        message: "联系电话不能为空！"
                    }
                }
            }
        }
    });
}
function verificationAddStore() {
    $("#addDateForm").bootstrapValidator({
        fields: {
            addAddress_date: {
                validators: {
                    notEmpty: {
                        message: "地址不能为空！"
                    }
                }
            },
            addLogo_date: {
                validators: {
                    notEmpty: {
                        message: "logo不能为空！"
                    }
                }
            },
            addPrincipal_date: {
                validators: {
                    notEmpty: {
                        message: "微校长不能为空！"
                    }
                }
            },
            addTeacher_date: {
                validators: {
                    notEmpty: {
                        message: "早育师不能为空！"
                    }
                }
            },
            addCall_date: {
                validators: {
                    notEmpty: {
                        message: "联系电话不能为空！"
                    }
                }
            }
        }
    });
}
</script>
<include file="./Public/template/footer.html" />
