.item span {
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #eee;
    width: 150px;
    height: 40px;
    line-height: 40px
}
.item em {
    display: inline-block;
    line-height: 20px;
    background: #f5a819;
    color: #ffffff;
    width: 20px;
    height: 20px;
    font-style: normal;
    cursor: pointer;
    text-align: center;
}
.item i {
    padding: 7px 10px;
    background: #f5a819;
    color: #ffffff;
    cursor: pointer;
    font-style: normal;
}
.list .off {
    background: #dddddd;
}
.result {
    display: inline-block;
    width: 500px;
    padding: 20px;
    border: 1px solid #eeeeee;
}
